<!-- <div class='about col h-100 '> -->

<div class="about row w-100">
    {{ partial "about/introduction.html" . }}
</div>

<p> </p>

<div class="about row w-100">
    {{ partial "about/education.html" . }}
</div>

<div class="about row w-100">
    {{ partial "about/interests_experience.html" . }}
</div>


<div class="about row w-100">
    {{ partial "about/publications.html" . }}
</div>

<p></p>

<div class="about row w-100">
    {{ partial "about/other_experience.html" . }}
</div>


<div class="about row w-100">
    {{ partial "about/project.html" . }}
</div>

<div class="about row w-100">
    {{ partial "about/honor.html" . }}
</div>

<p> </p>
 <div class="about row w-100 ">
    <div class="col">
        <font size="5em">
        My girl friend's webpage <a href="https://yinsiyuan97.github.io"> <b> here</b></a>.
         </font>
    </div>
</div>
<p> </p>
<!-- </div> -->