{{ $content_type := .Params.content_type }}

{{ $aboutPage := .Site.GetPage $content_type }}


{{if $aboutPage.Params.experience}}
<div class="experience col">
    <h2 class="main_bold_color">Research Experience</h2>
    {{range $experience := $aboutPage.Params.experience}}
    <div class="row">
        <div class="col font_weight" id="institution_title">
            {{$experience.course.institution}}
        </div>  
        <div class=" col-md-auto  justify-content-end">
            {{ if $experience.course.loc }}
            {{$experience.course.loc }}
            {{end}}
        </div>
    </div>
    <div class="degree_major row">
        <div class="large_font col">
            {{$experience.course.degree | markdownify}}
        </div>
            <div class=" text-muted dates col-md-auto  justify-content-end">
            <i>{{$experience.course.start_date}}
            {{ if $experience.course.end_date }}
            - {{$experience.course.end_date}}
            {{else}}
            - Present
            {{end}}
            </i>
        </div>
    </div>

    {{range $projects := $experience.course.projects}}
    {{if $projects.project.name}}
    <div class=" row margin:5px">
        <div class="col large_font project_color">
            {{$projects.project.name}}
            <i> {{if $projects.project.beizhu}} ({{$projects.project.beizhu}}) {{end}}</i>
        </div>
    </div>

    {{if eq $experience.course.flag 0}}
        <div class=" row ">
            <div class="col">
                <font size="3.5em">
                    I concentrate on the two issues of serverless computing under disaggregated storage architecture:
                </font>
            </div>
        </div>
    {{end}}

    <div class="row">
        <ul>
            {{range $infos := $projects.project.infos}}
            <li>
                <div class="project_info">
                <font size="3.5em">
                    {{$infos.info | markdownify}}
                </font>
                </div>
            </li>
            {{end}}
        </ul>
    </div>

    {{if eq $experience.course.flag 0}}
        <div class=" row ">
            <div class="col">
                <font size="3.5em">
                    Moving functions from the compute server to the storage server benefit their end-to-end latency 
                    by minimizing their network interactions with the storage servers. 
                    Also, this could save the storage server’s CPU, thereby <b>improving throughput</b>. 
                    However, the throughput is hurt if the saved CPU is not enough to handle the computation introduced by these moved functions. 
                    I am developing the <b>placement model</b> and extending it to <b>the distributed environment</b>.
                </font>
            </div>
        </div>
    {{end}}

    {{end}}
    {{end}}
    
    <p> </p>
    {{end}}
</div>
{{end}}
