{{ $content_type := .Params.content_type }}
{{ $aboutPage := .Site.GetPage $content_type }}

{{if $aboutPage.Params.pub}}
<div class="pub col">
    <h2 class="main_bold_color">Publications</h2>

    <div class="row ">
        <div class="col">
            <span>
            Zijun Li, Yushi Liu, <b>Linsong Guo</b>, Quan Chen, Jiagan Cheng, Wenli Zheng, Minyi Guo. 
            </span>
            <span>
            <i>
            FaaSFlow: Enable Efficient Workflow Execution for Function-as-a-Service. 
            </i>
            </span>
            <span>
            ASPLOS 2022 (Accepted)
            </span>
        </div>
    </div>

    <!--
    <div class="row ">
        <div class="col">
            <span>
               3rd author, 
            </span>
            <span>
            <i>
                FaaSFlow: Enable Eﬀicient Workflow Execution for Function-as-a-Service.
            </i>
            </span>
            <span class="text-muted">
                Under Review in ASPLOS 2022.
            </span>
        </div>
    </div>
    -->

    <div class="row ">
        <div class="col">
            <span>
                Zijun Li, <b>Linsong Guo</b>, Jiagan Cheng, Quan Chen, Bingsheng He, Minyi Guo.
            </span>
            <span>
            <i>
                The Serverless Computing Survey: A Technical Primer for Design Architecture.
            </i>
            </span>
            <span>
                ACM Computing Surveys (Accepted).
            </span>
            <span>
                Now at <a href="https://arxiv.org/abs/2112.12921"> <b> arxiv</b></a>.
            </span>
        </div>
    </div>

    <!--
    {{range $pub := $aboutPage.Params.pub}}
        <div class="row  w-100">

            <div class="section-1 w-100">
                <span>
                <b>
                    {{$pub.one.title}},
                </b>
                </span>
                <span>
                    {{$pub.one.date}},
                </span>
                <span>
                    {{$pub.one.where}}
                </span>
            </div>
            
            <div class="section-2 text-muted w-100">
                 <font size="3px">
                {{ $authors := $pub.one.authors }}

                {{ if $authors }}
                {{range $i, $author := $authors}}
                <span>
                    {{ if eq $pub.one.me $i }}
                       <b>{{$author}}</b>
                    {{else}}
                      {{$author}}
                    {{end }}
                </span>
                {{ if lt $i (sub (len $authors) 1)}}
                <span class="separator">,
                </span>
                {{end}}
                {{end}}
                {{end}}
                </font>
            </div>

        </div>
    {{end}}
    -->
</div>
{{end}}
